<form method='post' action='calculate_result'>
{% csrf_token %}
  <textarea name="loots" rows="16" cols="80">loot here</textarea><br><br>
  <textarea name="ignores" rows="8" cols="80">ignore here</textarea>
  <p>jitabuy <input type="text" name="jita_buy"> %
  <p>燃料代 <input type="text" name="fuel_tax" value=3> % <br>
  <p>開発費 <input type="text" name="develop_fee" value=2> % <br>
  <p>管理者 <input type="text" name="administrator" value="support yoshida"><br><br>
  <input type='submit' value='送信'>
</form>
